/* Обнуление */
 
html {
 box-sizing: border-box;
}
*, *::before, *::after {
 box-sizing: inherit;
}
img {
 display: block;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a {
 padding: 0;
 margin: 0;
}
body {
 margin: 0;
 padding: 0;
 background-color: var(--light-color);
}

/* Переменные с цветами */

:root {
 --accent-color: #E9B902;
 --darck-color: #333333;
 --darckBg-color: #27333E;
 --black-color: #212123;
 --white-color: #ffffff;
 --light-color: #FBFBFD;
 --gray-color: #242424;
}

/* Стили для текста */

.text_h1 {
  font-family: Montserrat;
  color: var(--light-color);
  font-size: 56px;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: 0%;
  text-align: left;
}
.text_sub-title {
  color: var(--black-color);
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
}
.text_h2 {
  color: var(--gray-color);
  opacity: 0.6;
  font-family: Montserrat;
  font-size: 19.06px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(36, 36, 36, 0.25);
}

.text_h3 {
  color: var(--black-color);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 14.36px;
  letter-spacing: 0%;
  text-align: left;
}
.text_h4 {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  letter-spacing: 0%;
  text-align: left;
}
.text_p {
  color: var(--black-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
} 
.text_a {
  color: var(--darck-color);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
} 
.text_a:hover {
  color: var(--accent-color);
}
/* Стили для кнопок */
.btn {  
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  background-color: var(--accent-color);
  border: none;  
  border-radius: 5px;
  width: 260px;
  height: 56px;
  transition: 1s;
}
.btn:hover {
  color: var(--accent-color);
  background-color: var(--white-color);  
  border: solid 2px var(--accent-color);
 }
/* Контэйнер */

.container {
 max-width: 1200px;
 margin: 0 auto;
}

/* Header */

.header {
  padding-top: 11px;
  margin-bottom: 25px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}
.header__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  padding-left: 4px;
  list-style: none;
}
.header__contacts {
  display: flex;
}
.header__contacts_link-number {
  display: flex;
  align-items: center;
  color: var(--darck-color);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;  
  text-decoration: none;
  margin-right: 39px;
}
.header__contacts_link-number img {
  width: 8px;
  height: 14px;
  margin-right: 10px;
}
.header__btn {
  color: var(--darck-color);
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 0;
}
.header__btn:hover {
  color: var(--accent-color);
}
.header__top-menu {
  display: flex;
  align-items: center;
}
.header__top-menu_logo {
  width: 116px;
  height: 51px;
  margin-right: 72px;
}
.header__nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}
.header__top-menu_item {
  margin-right: 21px;
}
.header__top-menu_item:last-child {
  margin-right: 0;
}
.header__top-menu_btns {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header__top-menu_search {
  background-color: transparent;
  border: none;
  margin-right: 25px;
}
.header__top-menu_btn {
  width: 152px;
  height: 41px;
}

/*Firstscreen*/

.ferstscreen {
  background-image: url(../img/firstscreen-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
  position: relative;
  margin-bottom: 220px;
}
.ferstscreen__title {
  max-width: 577px;
  margin-bottom: 25px;
}
.ferstscreen__subtitle {
  color: var(--light-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  max-width: 467px;
  margin-bottom: 50px;
  
}
.ferstscreen__btn {
  width: 216px;
  margin-bottom: 123px;
}
.ferstscreen__advantages {
  position: absolute;
  bottom: -99px;
  max-width: 1200px;
  padding: 23px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  background-color: var(--light-color);
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 10px;
  box-shadow: 0px 11px 24px 0px rgba(59, 61, 78, 0.05);
}
.ferstscreen__card {
  display: flex;
  align-items: flex-start;
  border-right: solid 1px var(--darck-color);
  text-align: center;
  padding-top: 26px;
  padding-left: 50px;
}
.ferstscreen__card:last-child {
  border-right: none;
}
.ferstscreen__card:first-child {
  padding-left: 0;
}
.ferstscreen__card_square {
  width: 45px;
  height: 45px;
  background-color: #D9D9D9;
  margin-right: 24px;
}
.firstscreen__card_text {  
  text-align-last: left;
  margin-right: 50px;
  margin-bottom: 20px;
}
.ferstscreen__card_title {
  text-align-last: left;
  color: rgb(233, 185, 2);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%; 
  text-transform: capitalize;
  }
.ferstscreen__card_subtitle {
  color: rgb(33, 33, 35);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1%;
  text-transform: lowercase;
}
.ferstscreen__card:last-child .firstscreen__card_text {
  margin-right: 0;
}

/* Partners */

.partners__title_inner {
  display: flex;
  align-items: center;  
  margin-bottom: 15px;
}
.partners__title {
  padding-left: 15px;
}
.text_sub-title {
  margin-bottom: 50px;
}
.partners__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 120px;
}
.partners__card {
  width: 100%;
  height: 273px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid__header1 {
  grid-column: span 4;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
.grid__header2 {
  grid-column: span 4;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
.grid__header3 {
  grid-column: span 4;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
.grid__footer1 {
  grid-column: span 3;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
.grid__footer2 {
  grid-column: span 3;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
.grid__footer3 {
  grid-column: span 3;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
.grid__footer4 {
  grid-column: span 3;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
.partners__img {
  width: 146px;
  margin: 0 auto;
}

/* work */

.work {
  margin-bottom: 120px;
}
.work__subtitle {
  max-width: 722px;
  margin-bottom: 25px;
}
.work__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.work__text {
  margin-bottom: 14px;
}
.work__text-inner {
  margin-bottom: 61px;
  margin-right: -27px;
}
.work__cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 240px 240px;
  gap: 20px;
  padding-top: 9px;
}
.work__card {
  padding-top: 7px;
  padding-left: 27px;
  height: 240px;
  width: 288px;
}
.tr {
  background-image: url(../img/tr.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.bl {
  background-image: url(../img/bl.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.br {
  background-image: url(../img/br.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.work__count {
  display: flex;
  align-items: center;
}
.work__count_number {
  padding-top: 5px;
  max-width: 77px;
  color: var(--white-color);
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 800;
  line-height: 31.5px;
  letter-spacing: -0.6px;
  text-align: left;
  margin-right: 32px;
}
.work__card-text {
  color: var(--white-color);
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 195px;
}
.work__count_text {
  color: var(--white-color);
  font-family: Nunito Sans;
  font-size: 23px;
  font-weight: 800;
  line-height: 26.45px;
  letter-spacing: -0.46px;
  text-align: left;
}
.work__partners {
  display: grid;
  grid-template-columns: repeat(10, 3fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.work__partners_card {
  height: 100px;
  width: 100%;
  border: 1px solid rgba(36, 36, 36, 0.1);display: flex;
  justify-content: center;
  align-items: center;
}
.partners2__subtitle {
  max-width: 465px;
  margin-bottom: -48px;
}
.swiper {
  padding-top: 25px;
}
.swiper__inner {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  margin-bottom: 48px;
}
.swiper-button-next, .swiper-button-prev {
  position: static;
  background-color: #EFEFEF;
  border-radius: 50px;
  width: 45px;
  height: 45px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 10px;
  color: #1D1D1D;
}
.swiper-button-prev {
  margin-right: 15px;
  margin-bottom: 0;
}
.swiper-slide {
  width: 273px;
  height: 273px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

/* Form */

.form {
  background-image: url(../img/form-bg.jpeg);
  padding-bottom: 60px;
  margin-bottom: 120px;
}
.partners2__form {
  padding-top: 60px;
}
.partners2__form_title {
  color: var(--light-color);
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 609px;
  margin-bottom: 50px;
}
.partners2__form_flex {
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-color);
}
.partners2__form_item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: var(--black-color);
}
.partners2__form_item:last-child {
  padding-top: 25px;
}
.partners2__label {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 14.36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
  
}
.partners2__form_input {
  width: 296px;
  height: 41px;
  background-color: var(--white-color);
  border-radius: 8px;
  border: 0.7px solid rgba(33, 33, 35, 0.05);
  box-shadow: inset 0.7px 0.7px 7.05px 0px rgba(33, 33, 50, 0.06);
  padding-left: 15px;
}
.partners2__form_input::placeholder {
  color: var(--black-color);
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.partners2__form_input:focus {
  outline: solid 1px var(--accent-color);
}
.partners2__form_btn {
  width: 205px;
  height: 41px;
  border-radius: 8px;
  bottom: none;
  margin-bottom: 10px;
}
.partners2__form_text {
  color: var(--black-color);
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 25px;
}
.partners2__form_text span {
  color: var(--accent-color);
}
 
/* About */

.about {
  margin-bottom: 120px;
}
.about__subtitle {
  max-width: 711px;
  margin-bottom: 25px;
}
.about__text {
  max-width: 701px;
  margin-bottom: 50px;
}
.about__btn {
  margin-bottom: 50px;
}

/* AboutNews */

.about2 {
  margin-bottom: 100px;
}
.about2__subtitle_flex {
  display: flex;
  justify-content: space-between;
}
.about2__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}
.about2__card_date {
  color: var(--darck-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 5px;
}
.about2__card_info {
  max-width: 351px;
  color: rgb(29, 29, 29);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 31.2px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

/* Footer */

.footer {
  padding-top: 44px;
  background-color: var(--darckBg-color);
}
.footer__top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(218, 231, 242, 0.2);
}
.footer__top-menu_logo {
  width: 116px;
  height: 51px;
  margin-right: 50px;
  margin-bottom: 10px;
}
.footer__nav-menu {
  width: 566px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 143px;
  margin-bottom: 10px;
}
.footer__top-menu_link {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 196px;
  margin-bottom: 10px;
}
.footer__contacts {
  padding-top: 25px;
  border-bottom: 1px solid rgba(218, 231, 242, 0.2);
}
.footer__contacts_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__contacts_list {
  width: 614px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__contacts_value {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.footer__contacts_btn {
  width: 203px;
  height: 52px;
  margin-bottom: 25px;
}
.footer__info {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  padding-bottom: 32px;
}
.footer__info_privacy {
  text-align: left;
}
.footer__info_copyright {
  text-align: right;
  max-width: 168px;
}
@media screen and (max-width: 1300px) {
  .container {
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__top-menu {
    flex-direction: column;
  }
  .header__top-menu_logo {
    margin-right: 0;
  }
  .logo__burger  {
    margin-bottom: 30px;
  }
  .header__top-menu_search {
    display: none;
  }
  .header__nav-menu {
    margin-bottom: 20px;
  }
  .header__top-menu_btns {
    margin: 0 auto;
  }
  .ferstscreen {
    margin-bottom: 285px;
  }
  .ferstscreen__advantages {
    grid-template-columns: repeat(2, 2fr);
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -205px;
  }
  .ferstscreen__card:nth-child(odd) {
    padding-left: 0;
  }
  .ferstscreen__card:nth-child(even) {
    border-right: none;
  }
  .ferstscreen__card:nth-child(1), .ferstscreen__card:nth-child(2) {
    border-bottom: solid 1px var(--darck-color);
  }
  .partners2__form_input {
    width: 230px;
  }
  .work__card_empty {
    display: none;
  }
  .work__flex {
    flex-direction: column-reverse;
    text-align: center;
  }
  .work__cards {
    grid-template-columns: repeat(3, 1fr);    
    grid-template-rows: 240px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 40px;
  } 
  .tr {
    background-color: var(--darckBg-color);
    background-image: none;
    border-radius: 15px;
  }
  .bl {
    background-color: var(--darckBg-color);
    background-image: none;
    border-radius: 15px;
  }
  .br {
    background-color: var(--accent-color);
    background-image: none;
    border-radius: 15px;
  }
  .work__text-inner {
    margin: 0 auto;
    max-width: 600px;
  }
  .work__text {
  }
  .work__btn {
    margin: 0 auto;
  }
  .partners2__form_flex {
    flex-wrap: wrap;
  }
  .about__img {
    width: 100%;
  }
  .about2__grid {
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    gap: 40px 18px;
  }
}
@media screen and (max-width: 1060px) {
  .container {
    max-width: 860px;
  }
  .work__partners {
    grid-template-columns: repeat(6, 5fr);
  }
  .work__cards {
    grid-template-columns: repeat(2, 2fr);
  }
  .partners__card {
    height: 160px;
  }
  .footer__nav-menu {
    flex-wrap: wrap;
  }
  .footer__top-menu_item {
    margin-right: 14px;
    margin-bottom: 7px;
  }
  .footer__nav-menu {
    margin-right: 50px;
    justify-content: flex-start;
  }
  .footer__contacts_flex {
    align-items: center;
    flex-direction: column;
  }
  .footer__contacts_list {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 865px) {
  .container {
    max-width: 650px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__top-menu {
    align-items: center;
    text-align: left;
  }
  .header__nav-menu {
    display: none;
    align-items: flex-start;
    flex-direction: column;
  }
  .header__top-menu_btns {
    display: none;
    margin: 0 0 auto 0;
  }
  .logo__burger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger_close {
    display: flex;
    align-items: center;
  }
  .header__close {
    font-family: 'NunitoSans';
    color: var(--darck-color);
    display: none;
    text-decoration: none;
    font-size: 60px;
    line-height: 50px;
    font-weight: 900;
    margin-left: auto;
  }
  .header__burger {
    display: block;
    width: 35px;
  }
  .header__burger_line {
    height: 4px;
    margin-bottom: 6px;
    border-radius: 2px;
    background-color: var(--darck-color);
    }
  .header__burger_line:last-child {
    margin-bottom: 0;
    }
  .grid__header1 {
    grid-column: span 6;
  }
  .grid__header2 {
    grid-column: span 6;
  }
  .grid__header3 {
    grid-column: span 4;
  }
  .grid__footer1 {
    grid-column: span 4;
  }
  .grid__footer2 {
    grid-column: span 4;
  }
  .grid__footer3 {
    grid-column: span 6;
  }
  .grid__footer4 {
    grid-column: span 6;
  }
  .partners__grid {
    margin-bottom: 50px;
  }
  .work__cards {
    grid-template-rows: 168px;
  }
  .work__text-inner {
    width: 100%;
  }
  .partners2__form_flex {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  
  .footer__nav-menu {
    margin-right: 50px;
  }
  .partners2__form_item {
    margin-right: 0;
    align-items: center;
  }
  .partners2__label {
    margin: 0 auto 20px;
  }
  .partners2__form_input {
    width: 80%;
    height: 50px;
    margin: 0 auto 30px;
  }
  .about2__grid {
    grid-template-columns: repeat(1, 3fr);
  }
  .work__subtitle {
    margin-bottom: 50px;
  }
  .work__cards {
    grid-template-columns: repeat(3, 3fr);
  }
  .work__card {
    height: 165px;
    width: 170px;
  }
  .work__count_number {
    font-size: 20px;
    line-height: 22.5px;
    margin-right: 12px;
    margin-bottom: 6px;
  }
  .work__count_text {
    color: var(--white-color);
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.45px;
    letter-spacing: -0.46px;
    text-align: left;
  }
  .work__card-text {
    font-size: 13px;
    line-height: 16.8px;
    max-width: 124px;
  }
}

@media screen and (max-width: 803px) {
  .footer__nav-menu {
    justify-content: space-around;
  }
}

@media screen and (max-width: 706px) {
  .text_h1 {
    font-size: 33px;
    line-height: 42px;
  }
  .text_h2 {
    font-size: 16.06px;
    line-height: 20px;
  }
  .text_sub-title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
    text-align: center;
  }
  .text_p {
    font-size: 14px;
    line-height: 22px;
  }
  .header__inner {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .header__socials {
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
  .header__contacts {
    justify-content: center;
  }
  .ferstscreen {
    margin-bottom: 350px;
  }
  .ferstscreen__title {
    margin-bottom: 11px;
  }
  .ferstscreen__subtitle {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 22px;
  }
  .ferstscreen__advantages {
    grid-template-columns: repeat(1, 2fr);
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -290px;
    padding: 20px 35px;
  }  
  .ferstscreen__card_title {
    font-size: 16px;
  }
  .ferstscreen__card_subtitle {
    font-size: 14px;
  }
  .ferstscreen__card {
    border-bottom: solid 1px var(--darck-color);
    border-right: none;
    justify-content: flex-start;
    padding-left: 0;
  }
  .ferstscreen__card:last-child {
    border-bottom: none;
  }
  .ferstscreen__card_square {
    width: 25px;
    height: 25px;
    background-color: #D9D9D9;
    margin-right: 24px;
  }
  .work__partners {
    grid-template-columns: repeat(2, 5fr);
  }
  .about2__subtitle_flex {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .about2__card_date {
    font-size: 13px;
    line-height: 21px;
  }
  .about2__card_info {
    font-size: 16px;
    line-height: 24.2px;
  }
  .partners2__form_title {
    font-size:36px;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
    max-width: 609px;
    margin-bottom: 50px;
   }
  .footer__contacts {
    padding-top: 40px;
  }
  .footer__contacts_flex {
    align-items: center;
  }
  .footer__contacts_list {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts_item {
    margin-bottom: 20px;
  }
  .footer__top-menu {
    flex-direction: column;
  }
  .footer__top-menu_logo {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .footer__nav-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 40px;
    flex-direction: column;
  }
  .footer__socials {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 650px) {
  .work__cards {
    grid-template-columns: repeat(2, 3fr);
  }
  .work__card {
    height: 165px;
    width: 170px;
  }
}
@media screen and (max-width: 590px) {
  
}
@media screen and (max-width: 500px) {
  .text_h1 {
    font-size: 16px;
    line-height: 24px;
    max-width: 211px;
    text-align: center;
  }
  .text_h2 {
    font-size: 14.06px;
    line-height: 18px;
  }
  .text_sub-title {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .btn {
    font-size: 12px;
    height: 32px;
  }
  .container {
    max-width: 300px;
  }
  .header {
    margin-bottom: 0;
  }
  .logo__burger {
    margin-bottom: 15px;
  }
  .header__nav-menu {
    text-align: center;
  }
  .header__top-menu_item {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .header__contacts {
    flex-direction: column;
    align-items: center;
  }
  .header__contacts_link-number {
  margin-right: 0;
  margin-bottom: 15px;
  }
  .header__top-menu_btns {
    margin: 0 auto 25px;
  }
  .ferstscreen {
    padding-bottom: 50px;
    margin-bottom: 390px;
  }
  .ferstscreen__subtitle {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 15px;
  }
  .ferstscreen__btn {
    display: block;
    width: 150px;    
    margin: 0 auto 50px;
  }
  .ferstscreen__advantages {
    bottom: -330px;
  }
  .about2__card_img {
    width: 80%;
  }
  .grid__header1 {
    grid-column: span 12;
  }
  .grid__header2 {
    grid-column: span 12;
  }
  .grid__header3 {
    display: none;
  }
  .grid__footer1 {
    display: none;
  }
  .grid__footer2 {
    display: none;
  }
  .grid__footer3 {
    display: none;
  }
  .grid__footer4 {
    display: none;
  }
  .work__partners {
    grid-template-columns: repeat(3, 5fr);
  }
  .partners2__form_input::placeholder {
    color: var(--black-color);
    opacity: 0.9;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
  }
  .partners2__form_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
    max-width: 609px;
    margin-bottom: 50px;
    }
  .partners2__form_flex {
      flex-direction: column;
      width: 100%;
      padding-left: 0;
      margin: 0 auto;
    }
}
@media screen and (max-width: 385px) {
    .work__cards {
      grid-template-columns: repeat(1, 3fr);
  }
}
